/*
    **** Produced using tool https://www.gradient-animator.com/ ****
*/

body {
    background: linear-gradient(350deg, #D95E00, #ff9242, #ffbd8c);
    background-size: 300% 300%;
    -webkit-animation: Gradient 25s ease infinite;
    -moz-animation: Gradient 25s ease infinite;
    -o-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 20% 0%
    }

    50% {
        background-position: 81% 100%
    }

    100% {
        background-position: 20% 0%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 20% 0%
    }

    50% {
        background-position: 81% 100%
    }

    100% {
        background-position: 20% 0%
    }
}

@-o-keyframes Gradient {
    0% {
        background-position: 20% 0%
    }

    50% {
        background-position: 81% 100%
    }

    100% {
        background-position: 20% 0%
    }
}

@keyframes Gradient {
    0% {
        background-position: 20% 0%
    }

    50% {
        background-position: 81% 100%
    }

    100% {
        background-position: 20% 0%
    }
}
