html, body {
	top: 0;
	margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
}

/****************************** NAVIGATION CSS *******************************/
#navigation {
	font-family: 'Titillium Web', sans-serif;
}

#top-bar {
	width: 100%;
	height: 2.5em;
	background-color: #dc7a32;
}
#top-bar h1 {
	margin: 0;
	font-size: 25px;
}

#dashboard-body {
	position: relative;
}

#side-bar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: 14em;
	overflow: auto;
	background-color: #616161;
}

#side-bar img {
	width: 30px;
	height: 30px;
}

#side-bar hr {
	width: 50%;
	margin: 0 auto;
	border: 0.5px solid #3f3f3f;
}

#side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#side-bar li {
  display: block;
  color: #e0e0e0;
  padding: 1.3em 1.7em;
  text-decoration: none;
  font-size: 21px;
}

#side-bar #current {
  background-color: #bdbdbd;
  color: #616161;
}

#current, #workflow, #form, #project, #logout {
    border: none;
    color: black;
    background: transparent;
    cursor: pointer;
    display: block;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 21px;
}

#account-dropdown {
	padding-right: 2em;
	color: white;
	float: right;
}

/****************************** Offset to prevent content going under the nav *******************************/
#content-body {
    margin-left: 14em;
}

/****************************** DASHBOARD *******************************/


#vc-coach-dashboard-top {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1em;
	height: 100px;
	background-color: gray;
}

#vc-coach-dashboard-bottom {
	width: 90%;
	background-color: gray;
	margin: 0 auto;
}

#completion-bar {
	width: 100px;
	height: 100px;
	position: relative;
}

/****************************** LOGIN PAGE CSS *******************************/
#login h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    margin: 0;
}
#login img {
    width: 120px;
    height: 120px;
    padding-bottom: 2em;
}
#login {
    width: 400px;
    height: 600px;
    position: absolute;
    background-color: rgb(255, 214, 183, 0.2);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2em;
    border: 1px solid black;
}

.login-text {
    margin: 0 auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
#login input[type=text], #login input[type=password] {
    padding: 1.5em 4em;
    margin: 1.5em;
    border-radius: 6px;
    box-sizing: border-box;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    background-image: url('../icons/person.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#login #LoginBtn, #login #ForgotBtn {
    border: none;
    color: black;
    background: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5em;
    cursor: pointer;
}

#login #LoginBtn {
    border-radius: 30px;
    background-color: #d95e00;
}

/* not a cry for help (yet) just the help button id */
#help {
	margin: 0 auto;
	text-align: center;
}