/*
    * RIT TEAM LONDON SENIOR DEVELOPMENT PROJECT - VENTURE CREATIONS WORKFLOW SYSTEM.
    * SPONSOR: Venture Creations
    * DEVELOPMENT TEAM: Kevin Reynolds, Brie McIntosh, Ryan Plazony, Matt Mallette, Becca Dingman, Shawn Bishop, Adi Cengic
    * ® 2018-2019

    May Documentation Doge protect and remind you to always comment your code on your journey through this, and every other, file.  
                                                                                Go in peace. Make us proud.
                                                                                        <3 Brie

                                            ░░░░░░░░░▄░░░░░░░░░░░░░░▄
                                            ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌
                                            ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐
                                            ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
                                            ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
                                            ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌
                                            ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌
                                            ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
                                            ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌
                                            ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌
                                            ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐
                                            ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
                                            ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐
                                            ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌
                                            ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
                                            ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌
                                            ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
                                            ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
                                            ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    ////////////asside to future Brie - path to the icons/imgs?/////////////
*/
html, body {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
}

/****************************** NAVIGATION CSS *******************************/
#navigation {
	font-family: 'Titillium Web', sans-serif;
}

#top-bar {
    width: 100%;
    position: fixed;
    height: 3em;
    background-color: #dc7a32;
    background-image: url("../icons/rit_logo.png");
    background-size: 370px 2.5em;
    background-position: 2em 3px;
    background-repeat: no-repeat;
}
#top-bar h1 {
    font-size: 25px;
    line-height: 45px;
    display: inline;
    vertical-align: middle;
}

#top-bar img {
    vertical-align: middle;
}

#right {
    position: absolute;
    right: 0;
    cursor: pointer;
}

#account-dropdown {
    padding-right: 2em;
    color: white;
    position: relative;
    display: inline-block;
    height: 3em;
}

#dropdown-content {
    display: none;
    position: absolute;
    font-size: 18px;
    width: 100%;
}

#dropdown-content a {
    color: black;
    width: inherit;
    text-decoration: none;
    background-color: #bcbcbc;
    display: block;
}
#right h2 {
    font-size: 18px;
    padding: 1em;
    margin: 0;
    font-weight: normal;
}

#dropdown-content a:hover, #logout:hover {
    background-color: #f1f1f1;
}

#account-dropdown:hover #dropdown-content {
    display: block;
}

#logout {
    border: none;
    background-color: #bcbcbc;
    color: black;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: 18px;
    width: inherit;
    padding: 1em;
    text-align: left;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
}

#dashboard-body {
	position: relative;
}

#side-bar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
    width: 17em;
	background-color: #616161;
}

#side-bar img {
	width: 30px;
	height: 30px;
    vertical-align: middle;
    display: inline;
}

#side-bar hr {
	width: 50%;
	margin: 0 auto;
	border: 0.5px solid #3f3f3f;
}

#side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#side-bar li {
  display: block;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 21px;
  padding: 1em;
}

#side-bar li:hover {
  background-color: #bdbdbd;
  color: #616161;
  cursor: pointer;
}

#side-bar-top-content {
    position: relative;
}

#current, #dashboard, #workflow, #form, #project {
    border: none;
    color: black;
    padding-left: 1em;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 25px;
    display: inline;
}

/* not a cry for help (yet) just the help button id */
#help {
    margin: 0 auto;
    text-align: center;
}

/****************************** Offset to prevent content going under the nav *******************************/
#content-body {
    margin-left: 17em;
}

/****************************** DASHBOARD PAGE *******************************/


#vc-coach-dashboard-top {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1em;
	height: 100px;
	background-color: gray;
}

#vc-coach-dashboard-bottom {
	width: 90%;
	margin: 0 auto;
}

#completion-bar {
    width: 200px;
    height: 130px;
	position: relative;
    color: transparent;
    z-index: -10;
}

.vc-coach-dashboard-project {
    border-top: 1px solid black;
}
/****************************** LOGIN & FORGOT PASSWORD PAGES CSS *******************************/
/* These two share most (see also: all) of the same design so if you change someone on one, do
    so with the knowledge that you're 100% changing something on another page as well.
*/
#login h1, #forgot-password h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    margin: 0;
}
#login img, #forgot-password img {
    width: 120px;
    height: 120px;
    padding-bottom: 2em;
}
#login, #forgot-password {
    width: 400px;
    height: 600px;
    position: absolute;
    background-color: #fffcf7;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

.login-text, #forgot-password {
    margin: 0 auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
#login input[type=text], #login input[type=password], #forgot-password input[type=text] {
    padding: 1.5em 4em;
    margin: 1.5em;
    border-radius: 6px;
    box-sizing: border-box;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}
#login #Email, #forgot-password #Email {
    background-image: url('../icons/email.png');
    background-size: 35px 35px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#login #Password {
    background-image: url('../icons/password.png');
    background-size: 35px 35px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}
#login #LoginBtn, #ForgotBtn, #forgot-password #changeBtn, #returnBtn {
    border: none;
    color: black;
    background: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5em;
    cursor: pointer;
}

#login #LoginBtn, #forgot-password #changeBtn {
    border-radius: 30px;
    background-color: #d95e00;
    color: white;
}

.error{
    color:red;
}

.success{
    color:green;
}
