/*
    * RIT TEAM LONDON SENIOR DEVELOPMENT PROJECT - VENTURE CREATIONS WORKFLOW SYSTEM.
    * SPONSOR: Venture Creations
    * DEVELOPMENT TEAM: Kevin Reynolds, Brie McIntosh, Ryan Plazony, Matt Mallette, Becca Dingman, Shawn Bishop, Adi Cengic
    * ® 2018-2019

    May Documentation Doge protect and remind you to always comment your code on your journey through this, and every other, file.  
                                                                                Go in peace. Make us proud.
                                                                                        <3 Brie

                                            ░░░░░░░░░▄░░░░░░░░░░░░░░▄
                                            ░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌
                                            ░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐
                                            ░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
                                            ░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
                                            ░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌
                                            ░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒▌
                                            ░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
                                            ░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄▌
                                            ░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒▌
                                            ▌▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒▐
                                            ▐▒▒▐▀▐▀▒░▄▄▒▄▒▒▒▒▒▒░▒░▒░▒▒▒▒▌
                                            ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒▒▒░▒░▒░▒▒▐
                                            ░▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒░▒░▒░▒░▒▒▒▌
                                            ░▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▒▄▒▒▐
                                            ░░▀▄▒▒▒▒▒▒▒▒▒▒▒░▒░▒░▒▄▒▒▒▒▌
                                            ░░░░▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
                                            ░░░░░░▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
                                            ░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▀▀
    ////////////asside to future Brie - path to the icons/imgs?/////////////
*/
html, body {
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    font-family: 'Titillium Web', sans-serif;
}

/****************************** NAVIGATION CSS *******************************/
#navigation {
    font-family: 'Titillium Web', sans-serif;
}

#top-bar {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 3em;
    background-color: #dc7a32;
    background-image: url("../icons/rit_logo.png");
    background-size: 370px 2.5em;
    background-position: 2em 3px;
    background-repeat: no-repeat;
}

#top-bar h1 {
    font-size: 20px;
    line-height: 45px;
    display: inline;
    vertical-align: middle;
    font-weight: normal;
}

#top-bar img {
    vertical-align: middle;
}

#right {
    position: absolute;
    right: 0;
    cursor: pointer;
}

#account-dropdown {
    padding-right: 2em;
    color: white;
    position: relative;
    display: inline-block;
    height: 3em;
}

#dropdown-content {
    display: none;
    position: absolute;
    top: 2.3em;
    font-size: 18px;
    width: 100%;
}

#dropdown-content a {
    color: black;
    width: inherit;
    text-decoration: none;
    background-color: #bcbcbc;
    display: block;
}

#right h2 {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    padding: 0.7em;
    margin: 0;
    font-weight: normal;
}

#dropdown-content a:hover, #logout:hover {
    background-color: #f1f1f1;
}

#account-dropdown:hover #dropdown-content {
    display: block;
}

#logout {
    border: none;
    background-color: #bcbcbc;
    color: black;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-size: 18px;
    width: inherit;
    padding: 0.7em;
    text-align: left;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
}

#dashboard-body {
    position: relative;
}

#side-bar {
    top: 3em;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 16em;
    background-color: #616161;
}

#side-bar img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline;
}

#side-bar hr {
    width: 50%;
    margin: 0 auto;
    border: 0.5px solid #3f3f3f;
}

#side-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#side-bar li {
    display: block;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 19px;
    padding: 1em;
}

#side-bar li:hover {
    background-color: #3a3a3a;
    color: #616161;
    cursor: pointer;
}

#side-bar-top-content {
    position: relative;
}

#current, #dashboard, #workflow, #form, #project {
    border: none;
    color: black;
    padding-left: 0.7em;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 21px;
    display: inline;
}

#current-page {
    background-color: #828282;
}

/* not a cry for help (yet) just the help button id */
#help {
    margin: 0 auto;
    text-align: center;
}

/****************************** Offset to prevent content going under the nav *******************************/
#content-body {
    margin-left: 16em;
    padding-top: 3em;
}

#content-body h1 {
    padding: 0.5em;
}

/****************************** DASHBOARD PAGE *******************************/


#vc-coach-dashboard-top {
    width: 90%;
    margin: 0 auto;
}

#vc-coach-dashboard-bottom {
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
}

#completion-bar {
    width: 200px;
    height: 130px;
    position: relative;
    color: transparent;
    z-index: -10;
}

.vc-coach-dashboard-project {
    border-top: 1px solid black;
}

#activityFeed {
    height: 12em;
    overflow-y: auto;
    overflow-x: auto;
}

.table {
    overflow-x: auto;
    overflow-y: auto;
    height: 300px;
}
/****************************** LOGIN & FORGOT PASSWORD PAGES CSS *******************************/
/* These two share most (see also: all) of the same design so if you change someone on one, do
    so with the knowledge that you're 100% changing something on another page as well.
*/
#login h1, #forgot-password h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    margin: 0;
}

#login img, #forgot-password img {
    width: 120px;
    height: 120px;
    padding-bottom: 2em;
}

#login, #forgot-password {
    width: 400px;
    height: 600px;
    position: absolute;
    background-color: #fffcf7;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

.login-text, #forgot-password {
    margin: 0 auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

#login input[type=text], #login input[type=password], #forgot-password input[type=text] {
    padding: 1.5em 4em;
    margin: 1.5em;
    border-radius: 6px;
    box-sizing: border-box;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

#login #Email, #forgot-password #Email {
    background-image: url('../icons/email.png');
    background-size: 35px 35px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#login #Password {
    background-image: url('../icons/password.png');
    background-size: 35px 35px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#login #LoginBtn, #ForgotBtn, #forgot-password #changeBtn, #returnBtn {
    border: none;
    color: black;
    background: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5em;
    cursor: pointer;
}

#login #LoginBtn, #forgot-password #changeBtn {
    border-radius: 30px;
    background-color: #d95e00;
    color: white;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* Stops Chrome autofill from being evil yellow lemons */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fffcf7 inset !important;
}

/***************************************ACCOUNT SETTINGS*****************************************/
#button {
    width: 72px;
    margin: 0 auto;
}

.field a {
    color: #D95E00;
}

    .field a:hover {
        color: #ff9242;
    }

#account-settings-password {
    height: 40px;
    margin: 0em 0em 1em;
}

/***************************************PROJECT PAGE*********************************************/
.ui.secondary.segment p {
    margin-left: 6em;
}





/** Workflow page - form carousel **/
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Bootstrap Lightbox using Modal */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

    #profile-grid .profile {
        padding-bottom: 40px;
    }

    #profile-grid .panel {
        padding: 0
    }

    #profile-grid .panel-body {
        padding: 15px
    }

    #profile-grid .profile-name {
        font-weight: bold;
    }

    #profile-grid .thumbnail {
        margin-bottom: 6px;
    }

    #profile-grid .panel-thumbnail {
        overflow: hidden;
    }

    #profile-grid .img-rounded {
        border-radius: 4px 4px 0 0;
    }

/** Workflow page - table*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    /** min-height: 100vh;
    background: #c850c0; 
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

    table thead tr {
        height: 60px;
        background: #dc7a32;
    }

    table tbody tr {
        height: 50px;
    }

        table tbody tr:last-child {
            border: 0;
        }

    table td, table th {
        text-align: left;
    }

        table td.l, table th.l {
            text-align: right;
        }

        table td.c, table th.c {
            text-align: center;
        }

        table td.r, table th.r {
            text-align: center;
        }


.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
    background: #cccccc;
}

    tbody tr:hover {
        color: #555555;
        background-color: #f5f5f5;
        cursor: pointer;
    }

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}


@media screen and (max-width: 992px) {
    table {
        display: block;
    }

        table > *, table tr, table td, table th {
            display: block;
        }

        table thead {
            display: none;
        }

        table tbody tr {
            height: auto;
            padding: 37px 0;
        }

            table tbody tr td {
                padding-left: 40% !important;
                margin-bottom: 24px;
            }

                table tbody tr td:last-child {
                    margin-bottom: 0;
                }

                table tbody tr td:before {
                    font-family: OpenSans-Regular;
                    font-size: 14px;
                    color: #999999;
                    line-height: 1.2;
                    font-weight: unset;
                    position: absolute;
                    width: 40%;
                    left: 30px;
                    top: 0;
                }

                table tbody tr td:nth-child(1):before {
                    content: "Date";
                }

                table tbody tr td:nth-child(2):before {
                    content: "Order ID";
                }

                table tbody tr td:nth-child(3):before {
                    content: "Name";
                }

                table tbody tr td:nth-child(4):before {
                    content: "Price";
                }

                table tbody tr td:nth-child(5):before {
                    content: "Quantity";
                }

                table tbody tr td:nth-child(6):before {
                    content: "Total";
                }

    .column4,
    .column5,
    .column6 {
        text-align: left;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}